<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #ffffff;
        }

        .container {
            width: 300px;
            text-align: center;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 30px;
        }

        .input-group {
            margin-bottom: 20px;
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #666;
            font-size: 14px;
        }

        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #000;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
        }

        button:hover {
            background-color: #333;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Reset Your Password</h1>
        <div id="error-message"><p></p></div>
        <form method="post" id="resetpass">
            <div class="input-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="newpassword" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirmpassword" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>

    <script>


        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('resetpass')
            const errorMessagesDiv=document.getElementById('error-message')

            form.addEventListener('submit', (event) => {

                const newpass = document.getElementById('new-password').value.trim()
                const confirmpass = document.getElementById('confirm-password').value.trim()

                let errorMessages = ''
                let isValid = true;
                if (newpass === '') {
                    errorMessages += '<p>Password is required.</p>';
                    isValid = false;
                } else if (newpass.length < 6) {
                    errorMessages += '<p>Password must be at least 6 characters long.</p>';
                    isValid = false;
                }


                if (confirmpass === '') {
                    errorMessages += '<p>Confirm Password is required.</p>';
                    isValid = false;
                } else if (newpass !== confirmpass) {
                    errorMessages += '<p>Passwords do not match.</p>';
                    isValid = false;
                }

                if (!isValid) {
                    errorMessagesDiv.innerHTML = errorMessages;
                    event.preventDefault();
                }


            })
        })


    </script>
</body>

</html>